.sidebarOption {
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 40px;
    padding-right: 80px;
    cursor: pointer;
    color: #a4a4a4;
}

.sidebarOption > h3 {
    flex: 1;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
}


.sidebarOption--active,
.sidebarOption--active > h3
 {
    background-color: #2d2d2e;
    color: #56adff;
    font-weight: 800 !important;
}

.sidebarOption:hover {
    background-color: #2d2d2e;
}