.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
    background-color: white;
}

.header__left {
    display: flex;
    align-items: center;
}

.header__logo {
    object-fit: container;
    height: 60px;
    margin-left: 5px;
}

.header__middle {
    display: flex;
    flex: 0.7;
    align-items: center;
    background: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}

.header__middle > .MuiSvgIcon-root {
    color: white;
}

.header__middle > input {
    border: none !important;
    width: 100%;
    padding: 10px;
    outline-width: 0 !important ;
    font-size: medium;
    background: transparent;
}

.header__right {
    display: flex;
    padding-right: 20px;
}
