.bitcoin {
    flex: 1;
    overflow: scroll;
    background-color: #1c1c1c;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 70px;
    color: white;
}

.headline{ 
    padding-bottom: 20px;
}

.search {
    display: flex;
    flex: 0.7;
    align-items: center;
    background: #242424;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}


.search__icon,
.search_dropdown {
    color: #66adff;
}

.search > input {
    border: none !important;
    width: 100%;
    padding: 10px;
    outline-color: none !;
    outline: none;
    font-size: medium;
    background: transparent;
    color: white;
}

.addressform {
    margin-left: 10px;
    background-color: red;
}

