.input {
    background: #f2f2f2;
}

.formField {
    margin: 10px 0 10px 10px;
    min-width: 500px;
    padding: 15px;
    font-size: 16px;
    border: 0;
    font-size: "Roboto", sans-serif;
    color: white;
}

.formButton {
    margin: 10px 0 10px 0;
    padding: 15px;
    font-size: 16px;
    border: 0;
    font-family: "Roboto", sans-serif;
}
